<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main_page.css" />
    <link rel="stylesheet" type="text/css" href="css/medical_waste.css" />
    <link rel="stylesheet" type="text/css" href="css/input_css.css" />
    <link rel="stylesheet" type="text/css" href="css/button_css.css" />
    <link rel="stylesheet" type="text/css" href="css/table_css.css" />
    <link rel="stylesheet" type="text/css" href="css/select_css.css" />
    <link rel="stylesheet" type="text/css" href="css/tabs.css" />
    <title>Медицинские отходы</title>
</head>

<body>
    <div class="topnav">
        <a th:href="@{/}"><img class="exit_foto" src="/foto/home.png"></a>
    
        <div class="topnav-centered">
            <p>Отчет о медицинских отходах</p>
        </div>
    
        <ul class="tabs">
            <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/add_med_ot}">Добавление данных</a></li>
            <li><a th:href="@{/update_status}">Отчеты</a></li>
            <li><a th:href="@{/status_medotx}">Проверка отчетов</a></li>
            <li><a th:href="@{/statistic_medotx}">Статистика</a></li>
          </ul>
    
    </div>

    <br></br>
    <br></br>
    <div class="text-years">
        <h3>Выберите класс для вывода таблицы</h3>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="select">
        <input class="select__input" type="hidden" name="status">
        <div class="select__head">Выберите</div>
        <ul class="select__list" style="display: none;">
            <li class="select__item">А</li>
            <li class="select__item">Б/В</li>
        </ul>
    </div>
    <script src="js/select.js"></script>
    <table class="table-status">
        <tr class="tr-status">
            <th class="th-status">Год</th>
            <th class="th-status">Перевязочные материалы (кг)</th>
            <th class="th-status">Пищевые отходы (кг)</th>
            <th class="th-status">Полимерные отходы (кг)</th>
            <th class="th-status">Метал (кг)</th>
            <th class="th-status">Патологоанатомические отходы (кг)</th>
            <th class="th-status">Лабораторные отходы (кг)</th>
            <th class="th-status">Прочее (кг)</th>
        </tr>
        <tr th:if="${#lists.isEmpty(statistMedWest)}">
            <td colspan="5">Данные отсутвуют!!!</td>
        </tr>
        <tr class="tr-status" th:each="statistic : ${statistMedWest}">

            <td class="td-status" th:text="${statistic.years}" name="years"></td>
            <td class="td-status" th:text="${statistic.waste_1}" name="waste_1"></td>
            <td class="td-status" th:text="${statistic.waste_2}" name="waste_2"></td>
            <td class="td-status" th:text="${statistic.waste_3}" name="waste_3"></td>
            <td class="td-status" th:text="${statistic.waste_4}" name="waste_4"></td>
            <td class="td-status" th:text="${statistic.waste_5}" name="waste_5"></td>
            <td class="td-status" th:text="${statistic.waste_6}" name="waste_6"></td>
            <td class="td-status" th:text="${statistic.waste_7}" name="waste_7"></td>
    </table>

</body>

</html>